* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
A:hover { 
    
     
}
    

body{
    background-image: linear-gradient(to right, #98a898, #7b9f7b, #5e965d, #3e8c3f, #06811b);
}



.buttons {
    
    
   
    height: 120px;

}

.fa-whatsapp{
   

}


  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgb(2, 107, 16);
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }


  .color-link{
    text-decoration: none;
    color: white;
    font-size: 25px;

}

.form-select{
    width: 200px;
}

.c{
    color: black;
}


.info{
    border:2px;
    border-radius: 5px ;
}

.E{
    color: black;
}


.CGC{
    color: black;
}

.envio{
    color: white;
}


.msg{
    font-size: 35px;

}

footer{
    font-size: 25px;
}

.form-check-label{
    font-size: 15;
}


form{
    margin: 10px;
}


.Emails{
    margin: 10px;
}

.form-check{
    margin: 10px;
}