* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

body{
    background-image: linear-gradient(to right, #98a898, #7b9f7b, #5e965d, #3e8c3f, #06811b);
}
    



.buttons {
   
    
    margin-top: 30px;
    height: 120px;
   

}
.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgb(2, 107, 16);
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;

}

footer{
    font-size: 25px;
}



.color-link{
    text-decoration: none;
    color: white;
    font-size: 25px;

}
